<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moya-Extension-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Moya-Extension-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Moya-Extension-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Moya-Extension-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49A8DFA1EC9F8978A44CD15A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAEA9D589D544B4DE990FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88873CEB027B62EB6B650EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99181D9DA7094E8C97B28ADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
